body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}
.main{
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  
}
.proj1{
  margin-top: 10%;
}
.helloh2{
  margin-top: 5%;
  color: rgb(115, 141, 159);
}
.texth2{
  margin-top: 5%;
  margin-bottom: 5%;
  color: rgb(115, 141, 159);
  
}
.blog{
  margin-top: 5%;
  color: rgb(106, 127, 139);;

}
.cont{
  margin-top: 10%;
}

.plholder{
  background: linear-gradient(to right, rgb(23, 26, 29), rgb(135, 20, 52,.9));
}
.pltext{
  color: rgb(115, 141, 159);
}

.projtext img{
  filter: blur(2px) brightness(40%);
}

.projtext h1{
  color: rgb(151, 187, 210);
}
.projtext h5{
  color: rgb(146, 181, 204);
}

.projc{
  filter: blur(1px) brightness(40%);
}

.table{
  /*background-color: rgb(0, 0, 0, .5);*/
  background: linear-gradient(to right, rgba(33, 37, 41), rgb(135, 20, 52,.8));
  max-width: 56%;
  min-width: 30%;
  margin: auto;
  /*opacity: linear-gradient(to right, 1, 0);*/
}
.piccc{
  display: inline-block;
  margin-right: 15px;
}

.helloh2 a{
  text-decoration:none;
  color:rgb(154, 121, 63);
}

.imgMe{
  /*height: 150px;
  width: 150px;*/
  margin-top: 10%;
}

@media (max-width: 504px){
  .textAdaptive{
    font-size: 100%;
  }
  .texth2{
    font-size: 100%;
  }
  .helloh2{
    margin-top: 15%;
    font-size: 100%;
  }

}
